.mapDisplay {
    display: flex;
    margin: 10px 10px 10px;
    flex-wrap: nowrap;
    /* border: 1px solid black; */
    position: relative;
    height: 500px;
    width: 700px;
    flex-direction: column;

}

.thegooglemap {
    /* display: inline; */
    position: fixed;
    /* margin: 10px 10px 10px 10px; */
    height: 400px;
    width: 400px;
}

.displayChosenHospital {
    border: 1px solid blue;
    margin-left: 500px
}