.homepage {
  /* height: 100vh; */
  background-color: #b9decc;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-bottom: 1000px;
}

.banner {
  display: flex;
  flex-direction: column;
}

.banner-img {
  display: flex;
  position: relative;
}

.banner-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}
.banner-top {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  border-bottom: solid 7px white;
  height: 80px;
}

.nav-link {
  margin: auto;
  display: flex;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
}
.banner-title {
  font-size: 30px;
  color: rgb(47, 127, 85);
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
}

.banner-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-top: 80px;
  height: 100%;
}

.banner-login {
  font-size: 20px;
  color: rgb(35, 111, 72);
}

.banner-header {
  font-size: 70px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}

.banner-texttitle {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.banner-text {
  font-size: 20px;
  color: white;
  margin-bottom: 80px;
  font-family: "Montserrat", sans-serif;
}

.signup-button {
  font-size: 27px;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}
.signup-button:hover {
  color: rgb(248, 202, 179);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.login-button {
  font-size: 27px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.login-button:hover {
  color: rgb(248, 202, 179);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#link-dec {
  text-decoration: none;
}

.aboutus-title {
  color: rgb(248, 202, 179);
  padding: 10px;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 20px;
  font-size: 50px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

.aboutus-img {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.aboutus-text {
  width: 600px;
  margin: auto;
  line-height: 32px;
  /* padding: 20px; */
}
#aboutus-text {
  font-size: 20px;

  letter-spacing: 0.5px;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  font-family: "Lato", sans-serif;
}

.banner-icon {
  margin-bottom: 0px;
}

.mid-icon {
  margin-bottom: 60px;
}

.aboutus {
  background-color: white;
  width: 80%;
  margin: auto;
  height: 700px;
}

.colorbox {
  background-color: white;
  height: 300px;
  width: 80%;
}

.stories {
  background-color: rgb(248, 202, 179);
  width: 80%;
  margin: auto;
  display: flex;
  height: 700px;
}

.box-right {
  background-color: rgb(248, 202, 179);
  width: 50%;
  height: 700px;
}

.stories-text {
  width: 300px;
  margin-left: 40px;
}

.storiesbox-left {
  margin: auto;
  margin-left: 80px;
  width: 500px;
}

.stories-title {
  color: white;
  margin-left: 40px;
  padding-bottom: 20px;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

.stories-text {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.success-text {
  width: 600px;
  margin: auto;
  line-height: 32px;
  margin-bottom: 100px;
}

/* #carousel {
  background-color: #b9decc;
}
.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
  position: relative;
}

.carousel {
  position: absolute;
  margin: auto;
  position: relative;
  z-index: 1;

}

.carousel,
.carousel-inner,
.carousel-item {

  margin: auto;
  transition: opacity 1s ease-in-out;
  position: relative;
  z-index: 1;
} 

 .carousel-item {
  margin: auto;
  position: relative;
  z-index: 1;
} */

.sun-img {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.legend {
  font-size: 30px;
}

#footer-home {
  border-top: 5px solid white;

  display: flex;
  height: 200px;
  color: white;
  font-size: 20px;

  position: relative;
  z-index: -1;

  background-color: #b9decc;

  background-image: -webkit-linear-gradient(top, #b9decc, #b9decc);
  background-image: -moz-linear-gradient(top, #b9decc, #b9decc);
  background-image: linear-gradient(top, #b9decc, #b9decc);
}

#footer-home > ul {
  width: 960px;
  position: fixed;
  left: 60%;
  bottom: 0;
  margin: auto;
  margin-left: -700px;
  padding-bottom: 70px;
  z-index: -1;
}

#footer-home ul {
  display: flex;
  /* flex-direction: column; */

  justify-content: space-evenly;

  font-family: "Lato", sans-serif;

  list-style: none;
}
