.donorform {
  display: flex;
  flex-direction: column;
  background-color: rgb(217, 157, 148);
  height: 1300px;
}

.info-box {
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.formbox-questions {
  text-align: center;

  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  margin: auto;
  background-color: white;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

#formbox-questions {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.donor-formbox {
  height: 100vh;
  background-color: rgb(217, 157, 148);
}

.react-parallax-content {
  height: 400px;
}

#formgroup {
  padding-bottom: 30px;
  margin: auto;
}
